<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
  <div class="sm: w-full  bg-no-repeat h-32 bg-cover min-h-screen  "
  style="background-image: url('https://images.unsplash.com/photo-1497032205916-ac775f0649ae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

    <div class="min-h-screen w-full bg-slate-950 opacity-55 flex flex-col justify-around  mix-blend-hard-light" >

      
 
      
      <div class="  sm: w-full  text-neutral-100 flex flex-col gap-8 p-4 items-center ">
        <h1 class="sm:text-neutral-300 text-7xl lg:text-7xl  "> <span>About</span> Us-</h1>
        <p class="sm:text-3xl font-light lg:text-8xl  ">Welcome to <span>Chord Cloud !</span></p>
      </div>
      <div class=" w-full  mt-4 p-4 flex flex-col gap-8 items-center " >
        <h1 class="sm:text-neutral-300 text-6xl lg:text-6xl  ">Our Mission</h1>
        <p class="sm:text-3xl font-light text-center text-neutral-300 lg:text-3xl "> At  Chord Cloud, our mission is to empower
          musicians, producers, and audio enthusiasts by providing the tools, resources, and knowledge they need to
          create
          outstanding music. We believe that with the right guidance and technology, anyone can produce
          professional-quality sound.
        </p>
      </div>
  
      <div class="sm:text-neutral-300  w-full flex flex-col gap-8 items-center mt-4 p-4 ">
        <h1 class="sm:text-neutral-300 text-6xl lg:text-6xl">Who We Are</h1>
        <p class="sm:text-3xl text-center font-light lg:text-3xl  text-neutral-300">Founded by a team of passionate music producers and sound engineers,
          Chord Cloud is dedicated to fostering creativity and innovation in the music industry. Our experts bring years of experience
          in various genres and aspects of music production, ensuring that our content is both comprehensive and
          cutting-edge.</p>
      </div>

          

    </div>

</div>
<!-- 
end of second page -->
<!-- 

start of third page -->

<div class="sm: w-full  bg-no-repeat h-32 bg-cover min-h-screen"
style="background-image: url('https://images.unsplash.com/photo-1501612780327-45045538702b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

<div class="min-h-screen w-full bg-slate-950 opacity-55 flex flex-col justify-evenly  mix-blend-plus-darker" >

  
<div class="sm: w-full  text-neutral-300 flex flex-col gap-8 p-4 items-center ">
<h1 class="sm:text-neutral-300 text-6xl lg:text-7xl ">What We Offer!</h1>
<p class="sm:text-2xl  font-light">
  <p class="text-center lg:text-2xl">- High-Quality Tutorials*: Step-by-step guides and video tutorials covering everything from basic music production techniques to advanced sound design.</p>
  <p class="text-center lg:text-2xl">- Industry Insights*: Articles and interviews with leading producers, giving you a glimpse into the workflows and secrets of the pros.</p>
 <p class="text-center lg:text-2xl"> - Production Tools*: Reviews and recommendations for the best software, plugins, and hardware to enhance your studio setup.</p>
 <p class="text-center lg:text-2xl"> - Community Support*: A vibrant community forum where you can share your projects, get feedback, and connect with other music creators.</p>
  <p class="text-center lg:text-2xl">- Exclusive Resources*: Access to free samples, loops, and presets to kickstart your next project.</p>
  </p>
</div>
<div class=" w-full  mt-4 p-4 flex flex-col gap-8 items-center" >
<h1 class="sm:text-neutral-300 text-6xl lg:text-7xl ">Why Choose Us? </h1>
<p class="sm:text-2xl  font-light text-neutral-300 ">
  <p class="text-neutral-300 text-center lg:text-2xl">- Expertise*: Our team consists of seasoned professionals with a wealth of knowledge and experience in the music production industry.</p>
  <p class="text-neutral-300 text-center lg:text-2xl">- Quality Content*: We prioritize delivering high-quality, informative, and engaging content to help you achieve your music production goals.</p>
  <p class="text-neutral-300 text-center lg:text-2xl">- Passion for Music*: We are driven by a genuine love for music and a desire to help others succeed in their creative endeavors.</p>
  <p class="text-neutral-300 text-center lg:text-2xl">- Continuous Learning*: The music industry is always evolving, and so are we. We regularly update our content to reflect the latest trends and technologies. </p>
</p>
<p></p>
</div>

</div>

</div>
<!-- 
end of third page -->
<!-- 
fourth page -->

<div class="sm: w-full  bg-no-repeat h-32 bg-cover min-h-screen   "
style="background-image: url('https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

<div class="min-h-screen w-full bg-slate-950 opacity-55 flex flex-col justify-evenly mix-blend-plus-darker">


<div class="sm: w-full mt-32  text-neutral-300 flex flex-col gap-8 p-4 items-center  ">
  <h1 class="sm:text-neutral-300 text-6xl lg:text-8xl ">Join Our Community </h1>
  <p class="sm:text-2xl  font-light text-center lg:text-3xl relative top-24 ">
    We invite you to become a part of our growing community of music enthusiasts. Whether you’re a beginner just
    starting out or a seasoned producer looking to refine your skills, Chord Cloud has
    something for you. Subscribe to our newsletter, follow us on social media, and stay tuned for the latest
    updates, tips, and exclusive content.
  </p>
</div>

<div class="flex w-full justify-evenly items-center">
 <div> <a href="#"><img class="h-10 lg:h-20" src="/images/instalogo.png" alt=""></a></div>
  <div><a href="#"><img class="h-10 lg:h-20" src="/images/youtube.png" alt=""></a></div>
  <div><a href="#"><img class="h-10 lg:h-20" src="/images/linkedin.png" alt=""></a></div>
</div>

<div class="flex w-full flex-col text-center gap-2">
  <h1 class="text-neutral-300 text-2xl lg:text-5xl ">Powered by-</h1>
  <h5 class="text-neutral-300 text-l lg:text-2xl ">Anirudh Khade</h5>
</div>

</div>

</div>

<!-- 
end fourth page 
-->

</body>
</html>