<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" bg-yellow-500 "> 
 
  <div class=" flex justify-center  flex-col min-h-screen sm:bg-[url('https://images.unsplash.com/photo-1507838153414-b4b713384a76?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-fixed bg-no-repeat bg-center bg-cover   ">

    <div class="flex justify-center mt-32 w-full h-56  "> <div class="bg-center ml-32 w-full h-56 flex justify-center bg-no-repeat  text-neutral-300 items-center"  style="  background-image: url(/images/titlebackground.png);"><h1 class="text-8xl mb-10 mr-32 opacity-80">Chord Cloud</h1></div>  </div>   
       <div class="h-40 w-full flex justify-center space-x-3 text-4xl items-center">
         <button  class="bg-black rounded-full h-20 text-neutral-300 font-light opacity-80 hover:cursor-pointer hover:bg-neutral-300 hover:text-black  text-wrap text-3xl w-80">
           <a href="/signup">First-time admirer</a> 
         </button>
         <button  class="bg-black rounded-full h-20 text-neutral-300 font-light opacity-80 hover:cursor-pointer hover:bg-neutral-300 hover:text-black  text-wrap text-3xl w-80">
           <a href="/login">Returning admirer</a> 
         </button>
       </div>

       <div class="flex mt-20 text-neutral-300 font-light opacity-80  flex-col justify-center items-center gap-5"> 
       <div style="background-image: url(/images/titlebackground.png); background-size: 30dvh;" class="bg-no-repeat bg-center flex justify-center items-center w-full h-20">  <h1 class="w-36 h-14 flex justify-center items-center mb-4 mr-3 font-sans text-2xl">Our Story!</h1></div>
         <h1 class="bg-black rounded-full w-14 h-14 hover:bg-neutral-300 hover:text-black hover:cursor-pointer text-center flex justify-center items-center text-2xl"><a href="/about">></a></h1>
       </div>
</div>
  <!--   nav complete -->
<!-- 
start of second page -->



</body>

</html>