<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" bg-yellow-500 ">
  <div class="sm:bg-[url('pngegg.png')] bg-yellow-400 bg-fixed bg-no-repeat bg-right-bottom min-h-screen  ">
    <div class="sm:text-8xl h-48 font-normal flex justify-center relative top-28 ">
      <h1>Chord Cloud</h1>
    </div>

    <div class="text-white"
      style="background-image: url(/images/bgmain.png);   overflow: hidden; background-position: center; background-repeat: no-repeat; background-size:50dvw; height: 25dvh; ">

      <!-- nav start -->
      <nav class="w-full sm: flex justify-center text-center text-6xl mt-28 font-thin   ">
        <ul class="sm:space-y-6">
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">Home</a></li>
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">Albums</a></li>
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">About</a></li>
          
        </ul>
      </nav>

    </div>


  </div>
  <!--   nav complete -->


  <div class="sm: min-w-full bg-no-repeat bg-cover min-h-screen "
    style="background-image: url('https://images.unsplash.com/photo-1531651008558-ed1740375b39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

<div>
      <div class="sm: min-h-screen w-full flex flex-col text-neutral-300 ">
        <h1 class="sm:text-neutral-300 text-8xl  "> <span>About</span> Us-</h1>
        <p class="sm:text-4xl">Welcome to Chord Cloud !</p>
      </div>

      <div class="sm:">

      </div>

      <div class="sm:">
      </div>

</div>

  </div>

  
</body>
</html>