<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" bg-yellow-500 ">
  <div style="height: 88vh;" class="sm:bg-[url('https://images.unsplash.com/photo-1619983081563-430f63602796?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-fixed bg-no-repeat bg-right-bottom  ">
    <div class="sm:text-8xl h-48 font-normal flex justify-center relative top-28 ">
      <h1>Chord Cloud</h1>
    </div>

    <div class="text-white"
      style="background-image: url(/images/bgmain.png);   overflow: hidden; background-position: center; background-repeat: no-repeat; background-size:50dvw; height: 37dvh; ">

      <!-- nav start -->
      <nav class="w-full sm: flex justify-center text-center text-6xl mt-28 font-thin   ">
        <ul class="sm:space-y-6">
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">Home</a></li>
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">Albums</a></li>
          <li class="cursor-pointer hover:border-zinc-700 w-full "><a href="">About</a></li>

        </ul>
      </nav>

    </div>


  </div>
  <!--   nav complete -->
<!-- 
start of second page -->


  <div class="sm: w-full  bg-no-repeat h-32 bg-cover min-h-screen   "
    style="background-image: url('https://images.unsplash.com/photo-1531651008558-ed1740375b39?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

      <div class="min-h-screen w-full bg-slate-950 opacity-55 flex flex-col justify-around  mix-blend-hard-light" >

        
    <div class="sm: w-full  text-neutral-300 flex flex-col gap-8 p-4 ">
      <h1 class="sm:text-neutral-300 text-7xl   "> <span>About</span> Us-</h1>
      <p class="sm:text-3xl font-light ">Welcome to Chord Cloud !</p>
    </div>
    <div class=" w-full  mt-4 p-4 flex flex-col gap-8" >
      <h1 class="sm:text-neutral-300 text-6xl  ">Our Mission</h1>
      <p class="sm:text-3xl font-light  text-neutral-300"> At  Chord Cloud, our mission is to empower
        musicians, producers, and audio enthusiasts by providing the tools, resources, and knowledge they need to
        create
        outstanding music. We believe that with the right guidance and technology, anyone can produce
        professional-quality sound.
      </p>
    </div>

    <div class="sm:text-neutral-300  w-full flex flex-col gap-8  mt-4 p-4">
      <h1 class="sm:text-neutral-300 text-6xl">Who We Are</h1>
      <p class="sm:text-3xl font-light  text-neutral-300">Founded by a team of passionate music producers and sound engineers,
        Chord Cloud is dedicated to fostering creativity and innovation in the music industry. Our experts bring years of experience
        in various genres and aspects of music production, ensuring that our content is both comprehensive and
        cutting-edge.</p>
    </div>


            

      </div>

  </div>
<!-- 
end of second page -->


<div class="sm: w-full  bg-no-repeat h-32 bg-cover min-h-screen   "
style="background-image: url('https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position: center;">

  <div class="min-h-screen w-full bg-slate-950 opacity-55 flex flex-col justify-around  mix-blend-plus-darker" >

    
<div class="sm: w-full  text-neutral-300 flex flex-col gap-8 p-4 ">
  <h1 class="sm:text-neutral-300 text-7xl   "> <span>About</span> Us-</h1>
  <p class="sm:text-3xl font-light ">Welcome to Chord Cloud !</p>
</div>
<div class=" w-full  mt-4 p-4 flex flex-col gap-8" >
  <h1 class="sm:text-neutral-300 text-6xl  ">Our Mission</h1>
  <p class="sm:text-3xl font-light  text-neutral-300"> At  Chord Cloud, our mission is to empower
    musicians, producers, and audio enthusiasts by providing the tools, resources, and knowledge they need to
    create
    outstanding music. We believe that with the right guidance and technology, anyone can produce
    professional-quality sound.
  </p>
</div>

<div class="sm:text-neutral-300  w-full flex flex-col gap-8  mt-4 p-4">
  <h1 class="sm:text-neutral-300 text-6xl">Who We Are</h1>
  <p class="sm:text-3xl font-light  text-neutral-300">Founded by a team of passionate music producers and sound engineers,
    Chord Cloud is dedicated to fostering creativity and innovation in the music industry. Our experts bring years of experience
    in various genres and aspects of music production, ensuring that our content is both comprehensive and
    cutting-edge.</p>
</div>


        

  </div>

</div>



</body>

</html>